<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <style>
    body {
      background-image: url(./images/gp.jpeg);
      background-position: top center;
      background-repeat: no-repeat;
    }
    </style>
  <body>
    <nav>
      <ul>
        <li><a style= "text-decoration:none;" href="/">main</a></li>
	      <li><a style= "text-decoration:none;" href="/sciprop">sciprop</a></li>
        <li><a style= "text-decoration:none;" href="/about">about</a></li>
        <!-- <li><a style= "text-decoration:none;" href="/archive">archive</a></li> -->
        <li><a style= "text-decoration:none;" href="https://gist.github.com/caesoma">code</a></li>
	</ul>
      </nav>
    <div class="container">

        {{ content }}

      </div><!-- /.container -->
    <footer>
      <ul>
        <li><a style= "text-decoration:none;" href="https://twitter.com/caesoma">
          <img src="/images/tw.png" alt="twitter"
          style="width:42px;height:42px;border:0;">
        </a></li>
        <li><a style= "text-decoration:none;" href="https://github.com/caesoma">
          <img src="/images/gh.png" alt="github" style="width:42px;height:42px;border:0;">
        </a></li>
        <!-- <li><a style= "text-decoration:none;" href="https://github.com/caesoma">github</a></li> -->
	</ul>
      </footer>
    </body>
</html>
