<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- {% if page.mathjax %} -->
    {% include mathjax.html %}
    <!-- {% endif %} -->
    </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">main</a></li>
	      <li><a href="/sciprop">sciprop</a></li>
        <li><a href="/publications">publications</a></li>
        <li><a href="/about">about</a></li>
        <!-- <li><a href="/archive">archive</a></li> -->

	</ul>
      </nav>
    <div class="container">

        {{ content }}

      </div><!-- /.container -->
    <footer>
      <ul>
        <li><a href="https://gist.github.com/caesoma">
          <img src="/images/gh.png" alt="github" style="width:42px;height:42px;border:0;">
        </a></li>
        <li><a href="https://twitter.com/caesoma">
          <img src="/images/tw.png" alt="twitter"
          style="width:42px;height:42px;border:0;">
        </a></li>
        <!-- <li><a href="https://github.com/caesoma">github</a></li> -->
	</ul>
      </footer>
    </body>
</html>
