<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
  <body>
    <nav>
      <ul>
        <li><a style= "text-decoration:none;" href="/">main</a></li>
	<li><a style= "text-decoration:none;" href="/about">sciprop</a></li>
        <li><a style= "text-decoration:none;" href="/cv">code</a></li>
        <li><a style= "text-decoration:none;" href="/blog">about</a></li>
	</ul>
      </nav>
    <div class="container">

        {{ content }}

      </div><!-- /.container -->
    <footer>
      <ul>
        <li><a style= "text-decoration:none;" href="mailto:">email</a></li>
        <li><a style= "text-decoration:none;" href="https://github.com/caesoma">github.com/caesoma</a></li>
	</ul>
      </footer>
    </body>
</html>
